//  start nuull style
@import "scss_parts/nullstyle.scss";
//end null style

//  start icomoon style
@import "scss_parts/icomoon.scss";
//end icomoon style


$maxWidth: 1600; 
@mixin adaptiv-font($mobSize, $pcSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    @media screen and(max-width:1600px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media screen and(min-width: 1600px) {
        font-size: $pcSize + px;
    }
	@media screen and(max-width: 320px) {
        font-size: $mobSize + px;
    }
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
	display: flex;
	
}
.aside{
	font-size: 40px;
	width: 300px;
	flex-shrink: 0;
	background-color: yellowgreen;
	display: flex;
	align-items: center;
	p{
		margin: 0 auto;
	}
}
// start catalog style
.contant-block {
	width: calc(100% - 300px);
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}
.content {
	position: relative;
	border: .5px solid rgba(128, 128, 128, 0.16);
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px;
		&__img {
			min-height: 300px;
			max-height: 400px;
			a{
				position: relative;
				display: block;
				width: 100%;

				// width: 100%;
				height: 100%;
				overflow: hidden;
				padding: 20px 0;
				img{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
					max-width: 100%;
					max-height: 100%;
					object-fit: cover;
			}
		}
	}
		&__title-action-discount {
			display: inline-block;
			padding: 3px;
			background-color: red;
			color: white;
			@include adaptiv-font(12, 14);
		}

		&__title-action-hit {
			display: inline-block;
			padding: 3px;
			margin-left: 10px;
			color: white;
			background-color: red;
			@include adaptiv-font(12, 14);
			text-transform: uppercase;
		}
		&__title-action-hit.content__title-action-hit-bastprice{
			background-color: green;
		}
		&__title-aboute {
			margin-top: 20px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			@include adaptiv-font(12, 14);
			color: blue;
		}

		&__title-text {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			margin: 10px 0;
			@include adaptiv-font(16, 20);
		}

		&__title-reviews-elem {
			display: flex
		}

		&__title-reviews-link {
			color: blue;

			@include adaptiv-font(12, 14);
		}

		&__price-value {
			margin: 5px 0;
			color: red;
			@include adaptiv-font(18, 24);
			position: relative;
			display: flex;
			align-items: center;
			&::before{
				content: 'цена';
				@include adaptiv-font(10, 12);
				color: gray;
				position: absolute;
				left: 0;
				top: -10px;
			}
		}

		&__price-old {
			color: rgb(128, 128, 128);
			display: inline-block;
			@include adaptiv-font(12, 14);
			position: relative;
			&::before{
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 1px;
				background-color: gray;
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
			}
		}
		&__price-cashback {
			color: black;
			@include adaptiv-font(10, 12);
			margin-left: 10px;
			padding: 2px;
			background-color: rgb(240, 227, 153);

		}
		&__buy {
			background-color: white;
			padding: 0 20px 20px 20px;
			width: 100%;
			display: flex;
			visibility: hidden;
			position: absolute;
			transform: translate(0,100%);
			z-index: 10;
			bottom: 0;
			left: 0;
		}

		&__buy-btn {
			display: inline-block;
			span{
				@include adaptiv-font(14, 18);
				color: white;
				background-color: green;
				display: inline-block;
				padding: 8px 30px;
				border-radius: 10px;
			}
		}

		&__buy-favorites {
			margin-left: auto;
		}

		&__buy-compar {
			margin-left: 10px;
		}
}
// fin catalog style

// hover effects
.dspl-block-buy{
	visibility: visible;
	-webkit-box-shadow: 0px 28px 10px 8px rgba(0,0,0,0.48); 
	box-shadow: 0px 28px 10px 8px rgba(0,0,0,0.48);
}
.hover-shadow-content{
	-webkit-box-shadow: 0px 28px 10px 8px rgba(0,0,0,0.48); 
	box-shadow: 0px 28px 10px 8px rgba(0,0,0,0.48);
}
// end hover effects

// start rating  area
.rating-area {
	overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
	justify-content: flex-end;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	height: 16px;
	padding: 0;
	cursor: pointer;
	font-size: 16px;
	line-height: 16px;
    letter-spacing: 0.5em;
	color: rgba(255, 217, 0, 0.32);
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
}
.rate-area > label:active {
	position: relative;
}
// fin rating  area

// media 
@media screen and (max-width: 1280px){

	.contant-block {
		width: 100%;
	}
}
@media screen and (max-width: 1140px){

	.aside{
		display: none;
	}
}
@media screen and (max-width: 540px){
	.contant-block  {
		grid-template-columns: 1fr 1fr;
	}

}
@media screen and (max-width: 768px){
	.content__img {
		min-height: 200px;
	}
}

